header {
  text-align: center;
  font-family: "Play", sans-serif;
  background: linear-gradient(135deg, #000000, #1a0013, #030022);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  color: #ffffff;
  margin: 0;
  padding: 1em;
  overflow: hidden;
  border-bottom: 1px groove #15001d;
}

#grid-container {
  display: grid;
  background-color: #000000;
  padding: 1em;
  font-family: 'Open Sans', sans-serif;
}

.grid-item {
  background: linear-gradient(135deg, #240016, #01000b, #240016);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
  margin: 0.25em;
  border-radius: 15px;
  color: #ffffff;
  padding: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.item1 {
  grid-column: 1;
  font-family: "Play", sans-serif;
  grid-row: 1;
}
.item2 {
    grid-column: 1;
    grid-row: 2;
}.item3 {
    grid-column: 1;
    grid-row: 3;
}.item4 {
    grid-column: 1;
    grid-row: 4;
}
.grid-presentation {
  display: grid;
}
.presentation-item img {
  display: block ;
  max-width: 95% ;
  height: auto ;
  margin: 0 auto ;
}
.pItem-1 {
  grid-column: 1; 
  grid-row: 1;
}
.pItem-2 {
  grid-column: 2;
  grid-row: 1;
}
.pItem-3 {
  grid-column: 1;
  grid-row: 1;
}
.pItem-4 {
  grid-column: 2;
  grid-row: 1;
}

#grid-anstallda {
  display: grid;
}
.grid-anstalld {
  margin: 1em 1em 0 0;
  width: 300px;
  text-align: center;
  padding-left: 20px;
}
.grid-anstalld img:hover {
  border: 5px solid brown;
}
.dana {
  grid-column: 1;
}
.gustav {
  grid-column: 2;
}
.joel {
  grid-column: 3;
}
.oskar {
  grid-column: 4;
}



.grid-kontakta {
  display: grid;
  border:2px solid #d9d9d9; 
  border-radius: 15px;  
}

.hittaOssPåPlattformar {
  list-style-type: none !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  grid-column: 1;
  text-align: start;
  margin-top: 20px;
  margin-left: 20px;
  padding: 0; 
}

.grid-kontaktinfo {
  grid-column: 2;
  text-align: end;
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 0; 
}

#user-name, #user-tel, #user-e, #user-message{
  border: 2px solid rgba(215, 32, 215, 0.529);
  border-radius: 5px;
  background-color: rgb(191, 191, 191);
  width: 500px;
  margin-top: 4px;
}

#user-name:hover, #user-tel:hover, #user-e:hover, #user-message:hover {
  background-color: white;
}

#user-name::placeholder, #user-tel::placeholder, #user-e::placeholder, #user-message::placeholder {
  color: rgb(34, 34, 34);
}

#user-name, #user-tel, #user-e{
    height: 20px;
}

