<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oskar Andersson portfolio</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script defer src="script.js"></script>
  </head>
  <body>
    <header>
      <h1>Oskar Andersson</h1>
      <h2>Karlssons Webbyrå</h2>
      <button class="menuOpen">
        <span class="material-symbols-outlined"> menu </span> <br />
      </button>
      <ul class="menuItems">
        <li><a href="#aboutme">Om mig</a></li>
        <li><a href="#projectslideshow">Projekt</a></li>
        <li><a href="#photography">Fotografi</a></li>
      </ul>
    </header>

    <div id="aboutme">
      <h2>Om mig</h2>
      <img src="https://placehold.co/300x200" alt="En bild på mig" />
      <p class="introduction">
        Jag är webbutvecklare på Karlssons Webbyrå, där jag utmärker mig genom
        mitt tekniska kunnande och min kreativa vision. Med en stark bakgrund
        inom både frontend- och backend-utveckling skapar jag dynamiska och
        responsiva webbplatser som levererar en utmärkt användarupplevelse. Min
        arbetsgivare har beskrivit mig som följande: "Oskar är känd för sin
        förmåga att arbeta effektivt under press och hans lösningsorienterade
        inställning gör honom till en oumbärlig del av teamet. Han håller sig
        alltid uppdaterad med de senaste teknologierna och trenderna inom
        webbutveckling, vilket gör att han kan erbjuda innovativa och hållbara
        lösningar för varje projekt."
      </p>
      <p class="previousworks">
        Innan jag arbetade på Karlssons Webbyrå arbetade jag som frilansande
        webbutvecklare. De flesta projekten var mer i syfte av att hjälpa vänner
        som bedrev egna projekt samtidigt som jag själv byggde ett portfolio.
        Det skedde även en del kommunala arbeten där de behövde en professionell
        hemsida utan budgeteringen av en större webbyrå. Nedan listar jag några
        av mina projekt, tryck på pilarna för att bläddra genom!
      </p>
    </div>

    <div id="projectslideshow">
      <h2>Mina genomförda projekt:</h2>
      <!-- En knapp som minskar index med 1 för att gå genom projekt, går den under lägsta index på array så loopar den om -->
      <div class="buttonLayout">
        <button class="leftButtonProject" @click="previousProject()">
          <span class="material-symbols-outlined"> arrow_back </span>
        </button>
        <!-- En knapp som ökar index för att gå genom projekt, överstiger den längden på array så loopar den om -->
        <button class="rightButtonProject" @click="nextProject()">
          <span class="material-symbols-outlined"> arrow_forward </span>
        </button>
      </div>

      <!-- Klass som hämtar ut alla projekt -->
      <div class="projects" v-for="project in projects">
        <!-- Om projekt id matchar vårat index (som default är 1) så visar den ett projekt -->
        <div class="visibleProject" v-if="project.id === projectIndex">
          <img class="projectImage" :src="project.imageUrl" alt="Projektbild" />
          <h3>Projekttitel: {{project.title}}</h3>
          <h4>Kund: {{project.customer}}</h4>
          <p class="summaryText">{{project.summary}}</p>
        </div>
      </div>
    </div>

    <div id="photography">
      <h2>Fotografi</h2>
      <p>
        Utöver mitt arbete som webbutvecklare har jag ett stort fritidsintresse
        för fotografi.
      </p>
      <p>
        Jag har alltid varit fascinerad av att fånga vackra stunder på bild, men
        jag skulle säga att det största fokus ligger på att ta bilder ute i
        naturen.
      </p>
      <p>
        även här infoga ett bildspel med några av mina favoritbilder. Tryck på
        pilarna för att bläddra genom!
      </p>
    </div>
    <div class="slide">
      <button class="leftButtonSlide">
        <span class="material-symbols-outlined"> arrow_back </span>
      </button>

      <img class="active" src="images/natur1.jpg" alt="" />
      <img src="images/natur2.jpg" alt="" />
      <img src="images/natur3.jpg" alt="" />
      <img src="images/natur4.jpg" alt="" />
      <img src="images/natur5.jpg" alt="" />
      <button class="rightButtonSlide">
        <span class="material-symbols-outlined"> arrow_forward </span>
      </button>
    </div>
  </body>
</html>
