html {
  scroll-padding-top: 15rem;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #fbeaeb9a;
}

header {
  background-color: #6b65bb;
  padding: 10px;
  position: sticky;
  top: 0;
}

header h1,
header h2 {
  text-align: right;
}

header .material-symbols-outlined {
  text-align: left;
}

h1,
h2 {
  margin: 0;
}

img {
  display: flex;
  max-width: 95%;
  height: auto;
  margin: 1rem auto;
  border-radius: 5%;
}

button {
  width: 50px;
}
.menuItems {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.active {
  display: block;
}
#aboutme {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#aboutme h2 {
  text-align: center;
}

#projectslideshow {
  background-color: #cfbcba;
}

#projectslideshow h2 {
  text-align: center;
  margin: 0;
}

.projects {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.projectImage {
  width: 280px;
  height: 240px;
}

.summaryText {
  font-weight: 500;
  text-align: center;
}

.buttonLayout {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 1rem;
  width: 150px;
}

#photography {
  text-align: center;
}

.slide img {
  width: 300px;
  height: 250px;
  border-radius: 5%;
  display: none;
}

.slide img.active {
  display: block;
}

@media only screen and (min-width: 768px) {
  header .material-symbols-outlined {
    display: none;
  }
  .menuItems {
    display: block;
  }
  .menuOpen {
    display: none;
  }
  .slide {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
  }
  .slide img {
    width: 30%;
    height: 400px;
  }
}
