
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr); 
    height: 100vh; 
    align-items: center; 
    justify-items: center;  
    min-width: 320px;
}

.grid-item {
    background-color: #a2cefe32; 
    border: 5px solid #A2CFFE;
    padding: 2em;
    width: 100%;  
    text-align: center; 
    min-width: 320px;
}

h2 {
    margin: 0 0 10px 0; 
}



header {
    text-align: start;
    background-color:#A2CFFE;
    padding: 40px;
    min-width: 320px;
}

.anpassabild {
    max-width: 100%;
    height: auto; /*ändrar höjden så att den är proportionell till widthen på bilden*/
}

.storrubrik {
    font-size: 50px;
}

.ommigtext {
    font-size: 30px;
}

#checkbox {
    display: none; 
    
}

.menyikon {
    display: none; 
}

@media (max-width: 600px) {
    header h1 {
        color: grey;
    }
    .menyikon {
        display: block;
    }
    .menyul {
        display: none;
    } 
    .checkbox:checked + .menyikon + .menyul { /* bara menyul får stylingen när checkboxen klickas, menyikon utgör bridge mellan dem*/
        display: block; 
    }
}

button {
    font-size: 30px;
}